
body{
    display: flex;
    text-align: center;
}
.header_ {
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0;
}
 .header_btn {
    text-decoration: none !important;
    background: none;
    border: 1px solid rgb(13, 244, 63);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: black;
}

.header_btn:hover  {
    border: 3px solid #007bff;
    font-weight: bold;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}
.header_btn:hover a{
    text-decoration: none;
    color: white;
}
.inner{
    position: absolute;
    top: 6pc;
    background: gray;
    width: 600px;
 height: 470px;

}
.text{
       margin: 4px;
       width: 590px;
       height: 54px;
       background: whitesmoke;
       display: flex;
       align-items: center;
       justify-content: center;
}
.sm-box{
    margin: 4px;
    width: 375px;
    height: 140px;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-box{
    position: relative;
    left: 378px;
    top: -288px;
    width: 212px;
    height: 284px;
}
.last-box{
    position: absolute;
    top: 407px;
}