body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Light gray background */
}
.header {
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}


.header button {
    text-decoration: none !important;
    background: none;
    border: 1px solid rgb(13, 244, 63);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: black;
}

.header button:hover  {
    border: 3px solid #007bff;
    font-weight: bold;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}
.header button:hover a{
    text-decoration: none;
    color: white;
}
.inner {
    width: 36rem;
    height: 450px;
    background: #fff; /* White background for the inner box */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.question {
    display: none;
    margin-bottom: 20px;
}

.question.active {
    display: block;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    width: 100px;
    height: 50px;
    background-color: #87CEEB; /* Light blue background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #4682B4; /* Darker blue on hover */
}

label {
    display: block;
    margin-bottom: 10px;
}
#Timer-button {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 20px;
}

#timer {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 20px;
}
